body{
    background-color: hsl(0, 5%, 15%);
}
.container{
    padding: 100px 200px;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 100px;
   
}
h1{
    font-size: 4rem;
    color: white;
}
button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5 ease;
    
}
.add-button{
    background-color: hsl(125, 47%, 54%);
    
}
.add-button:hover{
    background-color: hsl(125, 47%, 44%);
}
.delete-button{
    background-color: hsl(10, 90%, 50%);
}
.delete-button:hover{
  background-color: hsl(10, 90%, 40%);
}
.move-button{
    background-color: hsl(207, 47%, 44%);
   
}
.move-button:hover{
    background-color: hsl(207, 47%, 34%);
}
input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color: hsla(0, 0%, 0%, 0.5);
    
}
ol{
    list-style: none;
    text-align: center;
   padding: 0
}
    

li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 5%, 0.75);
    border-radius: 5px;
    display: flex;
    gap : 40px;
    justify-content: center;
    margin: 10px; 
}   
li text{
    flex: 1;
    
}
.delete-button,.move-button{
   padding:  5px 12px;
   font-size: 1.4rem;
   }